<div th:include="base::layout(~{::section})">

	<section>
		<main id="main" class="main">

			<div class="pagetitle">
				<h1>Admin</h1>
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item">Admin</li>
						<li class="breadcrumb-item active">Profile</li>
					</ol>
				</nav>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Add Book...</h5>

							<!-- Vertical Form -->
							<form class="row g-3" th:action="@{/admin/addBook}" method="post"
								enctype="multipart/form-data" th:Object="${book}">
								<div class="col-12">
									<label for="subName" class="form-label">Subject Name</label>
									<input type="text" name="subName" class="form-control" id="inputNanme4"
										th:field="*{subName}">
								</div>
								<div class="col-12">
									<label for="subTitle" class="form-label">Subject Title</label>
									<input type="text" name="subTitle" class="form-control" id="subTitle"
										th:field="*{subTitle}">
								</div>
								<div class="col-12">
									<label for="subIcon" class="form-label">Subject Icon</label>
									<input type="file" name="subIcon" class="form-control" id="subIcon"
										th:field="*{subIcon}" accept="image/png, image/jpg" placeholder="input file...">
								</div>
								<div class="col-12">
									<label for="substatus" class="form-label">Subject Status</label>
									<input type="text" name="substatus" class="form-control" id="subStatus"
										th:field="*{substatus}">
								</div>
								<br><br><br>
								<div class="text-center" style="text-align: center;">
									<button type="submit" name="submit" class="btn btn-primary">Submit</button>
									<button type="reset" name="reset" class="btn btn-secondary">Reset</button>
								</div>
							</form><!-- Vertical Form -->

						</div>
					</div>
				</div>
			</div><!-- End Page Title -->

		</main><!-- End #main -->
	</section>

</div>