<div xmls:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

	<section>
		<main id="main" class="main">

			<div class="pagetitle">
				<h1>Book Update</h1>
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="adminDashBoard">Admin</a></li>
						<li class="breadcrumb-item">Library</li>
						<li class="breadcrumb-item active">Book Update</li>
					</ol>
				</nav>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Update Book...</h5>
							<!-- Vertical Form -->
							<form class="row g-3" th:action="@{/bupdate}" method="post" th:Object="${bookUpdate}">

								<input type="text" name="id" class="form-control" id="inputNanme4" th:value="${id}">

								<div class="col-12">
									<label for="subName" class="form-label">Subject Name</label>
									<input type="text" name="subName" class="form-control" id="inputNanme4"
										 th:value="${subName}">
								</div>
								<div class="col-12">
									<label for="subTitle" class="form-label">Subject Title</label>
									<input type="text" name="subTitle" class="form-control" id="subTitle"
										 th:value="${subTitle}">
								</div>
								<div class="col-12">
									<label for="subIcon" class="form-label">Subject Icon</label>
									<input type="text" name="subIcon" class="form-control" id="subIcon"
										 th:value="${subIcon}" accept="image/png, image/jpg" placeholder="input file...">
								</div>
								<div class="col-12">
									<label for="substatus" class="form-label">Subject Status</label>
									<input type="text" name="substatus" th:value="${substatus}" class="form-control" id="subStatus"
										>
								</div></br>
								<div class="text-center">
									<button type="submit" name="submit" class="btn btn-primary">Submit</button>
									<button type="reset" name="reset" class="btn btn-secondary">Reset</button>
								</div>
							</form><!-- Vertical Form -->

						</div>
					</div>
				</div>
			</div><!-- End Page Title -->

		</main><!-- End #main -->
	</section>

</div>