<div xmls:th="http://www.thymeleaf.org" th:replace="admin/master::layout(~{::section})">

	<section>
		<main id="main" class="main">

			<div class="pagetitle">
				<h1>Book Download</h1>
				<nav>
					<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="adminDashBoard">Admin</a></li>
						<li class="breadcrumb-item">Library</li>
						<li class="breadcrumb-item active">View All Book</li>
					</ol>
				</nav>
			</div><!-- End Page Title -->
			
	<table width="100%">
    <tr>
        <th>Id</th>
        <th>Subject Name</th>
        <th>Subject Icon</th>
        <th>Subject Title</th>
        <th>Subject Status</th>
        <th>Action</th>
    </tr>
    <tr th:each="books:${book}">
		<td th:text="${books.id}"></td>
		<td th:text="${books.subName}"></td>
		<td th:text="${books.subTitle}"></td>
		<td th:text="${books.subIcon}"></td>
		<td th:text="${books.substatus}"></td>
		<td>
			
			<button class="bg-danger"><a th:href="|@{/deleteBook/{id}(id=${books.id})}|"  style="color: white;">Delete</a></button>
			<button class="bg-success"><a th:href="|@{/bupdate/{id}(id=${books.id})}|" style="color: white;">Update</a>&nbsp;</button>
			<button class="bg-info"><a th:href="@{/img/key.png}" download="download" style="color: white;">Download</a>&nbsp;</button>
		</td>
	</tr>
	</table>

		</main><!-- End #main -->
	</section>

</div>

<style>
button{
	border-radius: 5px;
	color:white;
	border: none;
}
</style>