<div xmls:th="http://www.thymeleaf.org" th:replace="admin/master::layout(~{::section})">

	<section>
		<main id="main" class="main">

			<div class="pagetitle">
				<h1>View All Question</h1>
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="viewhomework">Admin</a></li>
						<li class="breadcrumb-item">Gallery</li>
						<li class="breadcrumb-item active">View All Photos</li>
					</ol>
				</nav>
			</div><!-- End Page Title -->
			<br>
			<table width="100%">
				<tr class="mt-4">
					<th>Id</th>
					<th>Image</th>
					<th>Image Name</th>
					<th>Action</th>
				</tr>
				<tr th:each="im:${lists}">
					<td th:text="${im.id}" class="ml-3"></td>
					<td><img th:src="@{'img/'+${im.imageName}}" width="50%" height="120px" alt="" class="mt-2"></td>
					<td th:text="${im.imageName}"></td>
					<td>
						<button class="bg-danger"><a th:href="|@{/admin/deleteQuestio}|"
								style="color: white;">Delete</a></button>
						<button class="bg-success"><a th:href="|@{/admin/updateQuestion}|"
								style="color: white;">Update</a>&nbsp;</button>
					</td>
				</tr>
			</table>
		</main><!-- End #main -->
	</section>
</div>

<style>
	button {
		border-radius: 5px;
		color: white;
		border: none;
	}
</style>