<div xmls:th="http://www.thymeleaf.org" th:replace="admin/master::layout(~{::section})">

	<section>
		<main id="main" class="main">

			<div class="pagetitle">
				<h1>View All Question</h1>
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="viewhomework">Admin</a></li>
						<li class="breadcrumb-item">Library</li>
						<li class="breadcrumb-item active">View All Homework</li>
					</ol>
				</nav>
			</div><!-- End Page Title -->
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">All Student Complaints</h5>
						<table width="100%">
							<tr>
								<th>Id</th>
								<th>Question</th>
								<th>Action</th>
							</tr>
							<tr th:each="questions:${question}">
								<td th:text="${questions.id}"></td>
								<td th:text="${questions.question}"></td>
								<td>
									<button class="btn btn-danger rounded-pill"><a th:href="|@{/admin/deleteQuestio}|"
											style="color: white;">Delete</a></button>											
								<button type="button" class="btn btn-primary rounded-pill"><a th:href="|@{/updateQuestion/{id}(id=${questions.id})}|"
											style="color: white;">Update</a>&nbsp;</button>			
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</main><!-- End #main -->
	</section>

</div>

<style>
	button {
		border-radius: 5px;
		color: white;
		border: none;
	}
</style>