<div xmls:th="http://www.thymeleaf.org" th:replace="admin/master::layout(~{::section})">

	<section>
		<main id="main" class="main">
			<div class="pagetitle">
				<h1>View All Question</h1>
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="viewhomework">Admin</a></li>
						<li class="breadcrumb-item">Gallery</li>
						<li class="breadcrumb-item active">View All Photos</li>
					</ol>
				</nav>
			</div><!-- End Page Title -->
			<br>
			<table width="100%">
				<tr class="mt-4">
					<th>Sr.no.</th>
					<th>Image</th>
					<th>Image Name</th>
					<th>Action</th>
				</tr>
				<tr th:each="im,id:${lists}">
					<td th:text="${id.count}" class="ml-3"></td>
					<td><a th:href="@{'img/'+${im.imageName}}" target="_blank"><img th:src="@{'img/'+${im.imageName}}"
								width="50%" height="120px" alt="" class="mt-2"></a></td>
					<td th:text="${im.imageName}"></td>
					<td>
						<div class="form">
							<form th:action="@{/deleteUpload/{id}}" method="post" th:object="${im}">
								<input type="hidden" th:value="${im.id}" name="id" />
								<button type="submit" value="Submit" class="bg-danger">Delete</button>
							</form>
						</div>
						<div class="form">
							<button class="bg-success"><a th:href="|@{/updateImg}|"
									style="color: white;">Update</a>&nbsp;</button>
						</div>

					</td>
				</tr>
			</table>
		</main><!-- End #main -->
	</section>
</div>

<style>
	button {
		border-radius: 5px;
		color: white;
		border: none;
	}
	.form{
		float: left;
		margin-left: 2px;
	}
</style>