<html xmls:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<body>
                    <!-- ** Breadcrumb ** -->
                    <section class="main-title-section-wrapper aligncenter">
                        <div class="main-title-section-bg"></div>
                        <div class="container">
                            <div class="main-title-section">
                                <h1>Login</h1>
                            </div>
                            <div class="breadcrumb"><a href="index.html">Home</a><span
                                    class="fas fa-caret-right"></span><span
                                    class="current">Login here</span></div>
                        </div>
                    </section>
                    <!-- ** Breadcrumb End ** -->
                </div>
                <!-- ** Header Wrapper - End ** -->

                <!-- **Main** -->
                <div id="main">

                    <!-- ** Container ** -->
                    <div class="container">
                        <!-- Primary -->
                        <section id="primary" class="content-full-width">
                            <!-- #post-24491 -->
                            <div id="post-24491"
                                class="post-24491 page type-page status-publish hentry">
                                <div data-elementor-type="wp-page"
                                    data-elementor-id="24491"
                                    class="elementor elementor-24491"
                                    data-elementor-settings="[]">
                                    <div class="elementor-inner">
                                        <div class="elementor-section-wrap">
                                            <section
                                                class="elementor-section elementor-top-section elementor-element elementor-element-4080858c elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                                data-id="4080858c"
                                                data-element_type="section">
                                                <div
                                                    class="elementor-container elementor-column-gap-default">
                                                    <div class="elementor-row">
                                                        <div
                                                            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5a07424f"
                                                            data-id="5a07424f"
                                                            data-element_type="column">
                                                            <div
                                                                class="elementor-column-wrap elementor-element-populated">
                                                                <div
                                                                    class="elementor-widget-wrap">
                                                                    <div
                                                                        class="elementor-element elementor-element-3c2177ec elementor-widget elementor-widget-text-editor"
                                                                        data-id="3c2177ec"
                                                                        data-element_type="widget"
                                                                        data-widget_type="text-editor.default">
                                                                        <div
                                                                            class="elementor-widget-container">
                                                                            <div
                                                                                class="elementor-text-editor elementor-clearfix">
                                                                                <!-- wp:shortcode -->
                                                                                <div
                                                                                    class="woocommerce">
                                                                                    <div
                                                                                        class="woocommerce-notices-wrapper"></div>

                                                                                    <h2>Login</h2>

                                                                                    	
		
				<div class="col-md-6 offset-md-3">
					<div class="my-card mt-5 radius">
						<div class="container text-center">
							<img style="width: 60px;" th:src="@{/img/key.png}" alt="" />
						</div>
						<h1 class="text-center">Student Login here...</h1>
						<h1 th:text="${errormsg}"></h1>
						<form action="" th:action="@{/studentLogin}" method="post">
							<div class="form-group">
								<label for="email">Username</label> <input type="text" required name="email"
									class="form-control" id="email" aria-describedby="emailHelp"
									placeholder="Enter email...">
							</div>
							<div class="form-group">
								<label for="password">Password</label> <input type="password" class="form-control"
									required name="password" id="password" aria-describedby="emailHelp"
									placeholder="Enter password...">
							</div>
							<div class="container text-center">
								<button type="submit" class="btn bg-primary ">Submit</button>
								<button type="reset" class="btn bg-info  text-light">Reset</button>
							</div>
						</form>
					</div>
				</div>
				
				<button type="submit" class="btn bg-primary"><a href="studentLogin" style="color: white;">Student Login</a></button>
				<button type="submit" class="btn bg-info  text-light"><a href="parentLogin" style="color: white;">Parent Login</a></button>
		                                                              <!-- /wp:shortcode -->
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <section
                                                class="elementor-section elementor-top-section elementor-element elementor-element-80b51d2 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                                data-id="80b51d2"
                                                data-element_type="section">
                                                <div
                                                    class="elementor-container elementor-column-gap-default">
                                                    <div class="elementor-row">
                                                        <div
                                                            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e92989f"
                                                            data-id="e92989f"
                                                            data-element_type="column">
                                                            <div
                                                                class="elementor-column-wrap elementor-element-populated">
                                                                <div
                                                                    class="elementor-widget-wrap">
                                                                    <div
                                                                        class="elementor-element elementor-element-7477a38 elementor-widget elementor-widget-spacer"
                                                                        data-id="7477a38"
                                                                        data-element_type="widget"
                                                                        data-widget_type="spacer.default">
                                                                        <div
                                                                            class="elementor-widget-container">
                                                                            <div
                                                                                class="elementor-spacer">
                                                                                <div
                                                                                    class="elementor-spacer-inner"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- #post-24491 -->
                            <div class="dt-sc-hr"></div>
                            <div class="dt-sc-clear"></div>
                            <!-- ** Comment Entries ** -->
                            <section class="commententries">

                                <div id="comments" class="comments-area"></div>
                                <!-- .comments-area -->
                            </section>
                        </section>
                        <!-- Primary End -->
                    </div>
                    <!-- ** Container End ** -->

                </div>
                <!-- **Main - End ** -->
</body>
               </html>		